/*Open-sans;*/

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    z-index: 99;
    position: fixed;
}

.dummyHeader {
    width: 100%;
    height: 60px;
}

.burger {
    padding-top: 25px;
    padding-left: 20px
}

.headerLogo img {
    max-width: 162px;
    padding-left: 20px;
}

.cart {
    padding-top: 23px;
    /*border-left: .5px solid rgb(203, 201, 201);*/
    padding-left: 10px;
}

.flag img {
    padding-top: 23px;
    padding-right: 20px;
    width: 25px;
    height: 16.6px;
}

.mainImageContainer {
    height: 508px;
    max-height: 1100px;
}

.mainImage {
    background: url('./img/bobsled.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.imageContent {
    position: absolute;
    bottom: 14%;
    left: 23%;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
}

#imageTopContent {
    font-size: 2.5em;
    font-family: Open Sans Condensed, sans-serif;
}

#imageBottomContent {
    text-align: right;
    font-size: 1em;
    font-family: Helvetica;
    letter-spacing: 1px;
    color: rgb(245, 245, 245);
}

.cta_box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 35px;
    color: white;
    font-size: 11px;
    text-align: center;
    font-family: Helvetica;
}

.cta_left {
    background-color: #08c;
    padding: 12px;
    margin-left: 37px;
    max-width: 125px;
}

.cta_right {
    background-color: #08c;
    padding: 12px;
    margin-right: 37px;
    max-width: 125px;
}
